.container {
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: white;
    padding: var(--padding);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    background-color: var(--theme-primary);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container.hidden {
    display: none;
}

.thumbnailContainer {
    width: 100%;
    position: relative;
}

.thumbnailContainer::before {
    content: '';
    position: relative;
    display: block;
    width: inherit;
    padding-top: 100%;
}

.thumbnailContainer img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.name {
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    color: #222222;
    margin-top: var(--padding);
    text-transform: capitalize;
}

.identifier {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.7rem;
    align-items: center;
    margin: calc(var(--padding) / 2) 0;
}
