:global body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.application {
    --theme-primary: white;
    --theme-accent: white;
    --radius: 4px;
    --padding: 8px;
    --list-width: minmax(300px, 25%);
    --list-columns: 3;
    --team-height: 0;
    --box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    font-family: sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 1fr var(--list-width);
    grid-template-rows: 1fr var(--team-height);
    width: inherit;
    height: inherit;
}

.application::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.3;
    border-radius: inherit;
    transition: background 100ms ease-out;
    background-color: var(--theme-primary);
}
