.container {
    background-color: white;
    display: flex;
}

.screen {
    position: relative;
    flex: 1 1 auto;
    display: grid;
    gap: var(--padding);
    padding: var(--padding);
    padding-right: 0;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        'image chains chains'
        'details chains chains';
    border-radius: var(--radius);
}

.details {
    grid-area: details;
    padding: calc(var(--padding) * 2);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

.chains {
    grid-area: chains;
    padding: calc(var(--padding) * 2);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    height: calc(100vh - var(--padding) * 6);
    overflow: scroll;
}

.name {
    position: relative;
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;
    padding-bottom: calc(var(--padding) * 2);
}

.description {
    margin: 0 0 calc(var(--padding) * 2.5);
    font-size: 0.9rem;
    line-height: 1.3;
}

.detailItem {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: min-content;
    align-items: center;
    padding-bottom: var(--padding);
    margin-bottom: var(--padding);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detailItem:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.detailItemName {
    font-weight: 700;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.detailItemTypes {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--padding);
    font-size: 0.8rem;
}

.image {
    position: relative;
    grid-area: image;
    width: 280px;
    height: 280px;
    padding: calc(var(--padding) * 2);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

.image img {
    position: relative;
    max-width: 100%;
}

.stats {
    position: relative;
    grid-area: stats;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats canvas {
    width: 280px;
    height: 280px;
}
