.container {
    display: grid;
    grid-template-columns: repeat(var(--pokemon-list-columns), minmax(0, 1fr));
    grid-template-rows: auto;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    gap: var(--padding);
    background-color: white;
    overflow: auto;
    padding: var(--padding);
}
