.container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.search {
    margin: var(--padding);
    padding: var(--padding);
    margin-bottom: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    outline: none;
}

.items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--list-columns), minmax(0, 1fr));
    grid-template-rows: auto;
    gap: var(--padding);
    overflow: auto;
    margin: var(--padding);
}
