.type {
    min-width: 8ch;
    text-align: center;
    white-space: nowrap;
    padding: calc(var(--padding) / 3) var(--padding);
    background-color: black;
    border-radius: var(--radius);
    color: white;
}

.small {
    --padding: 6px;
}
